<div class="metric-card">
  <div class="card-info">
    <h3>{{ title }}</h3>
    <div class="card-value-wrapper">
      <p class="current-month">
        Current Month: <span class="value">{{ currentMonthValue }}</span>
      </p>
      <p class="last-month">
        Last Month: <span class="value">{{ lastMonthValue }}</span>
      </p>
    </div>
  </div>
  <div class="card-mini-chart">
    <ngx-charts-line-chart
      [results]="chartData"
      [animations]="animations"
      [xAxis]="false"
      [yAxis]="false"
      [showGridLines]="false"
      [autoScale]="true"
    >
    </ngx-charts-line-chart>
  </div>
</div>
