<div class="urgent-actions-container">
  <h3>Urgent Actions</h3>
  <div class="actions-grid">
    @for (item of UrgentActionsChartData; track item.title) {
      <button
        class="action-btn"
        [class]="item.icon"
        [title]="item.description"
        [routerLink]="item.link"
        routerLinkActive="active"
      >
        <lucide-icon [name]="item.icon" aria-hidden="true"></lucide-icon>

        <div class="btn-text">
          <span class="btn-title">{{ item.title }}</span>
        </div>
      </button>
    }
  </div>
</div>
