.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.btn-clear {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #9ca3af;
  cursor: pointer;
}
