<div class="dashboard-tables-grid">
  <div class="section-card">
    <h2>Expire Alert</h2>
    <app-dynamic-table [columns]="expireAlert" [data]="expireAlertData()"> </app-dynamic-table>
  </div>

  <div class="section-card">
    <h2>Limit Alert</h2>
    <app-dynamic-table
      [columns]="limitAlert"
      [data]="limitAlertData()"
      emptyMessage="No limit alerts available."
    >
    </app-dynamic-table>
  </div>
  <div class="section-card">
    <h2>Unpaid Sales</h2>
    <app-dynamic-table
      [columns]="unpaidSales"
      [data]="unpaidSalesData()"
      emptyMessage="No unpaid sales available."
    >
    </app-dynamic-table>
  </div>
</div>
